$color-background: #F5F5F5;
$color-primary: #659DBD;
$color-add: #E7717D;
$color-title: #232323;
$color-text: rgba(35, 35, 35, 0.7);
$color-placeholder: rgba(35, 35, 35, 0.4);
$color-text-btn: #FFFFFF;
$color-btn-hover: #5B8DAA;
$color-success: #A2E0B2;
$color-grey: #EAEAEA;

$content-width: 1184px;
$laptop-width: 1370px;
$mobile-width: 375px;