.tours__title {
    margin-bottom: 64px;
}

.tours__cards {
    display: flex;
}

.card {
    max-width: 373px;
    padding: 30px;

    @include media-mobile {
        padding: 0px;
    }
}

.card__block {
    position: relative;
    max-width: 313px;
    margin-bottom: 24px;
    transition: all .4s;
    
    &:hover {
        transform: scale(1.1);
        transform-origin: bottom;
    }

    &:hover .btn__display_none {
        display: inline-block;
    }
}

.btn__like {
    position: absolute;
    right: 4%;
    top: 4%;

    border: none;
    background: none;

    &:hover .like__circle {
        fill: $color-add;
    }

    &:hover .like__heart {
        stroke: #fff;
    }
}

.btn__display_none {
display: none;
}

.btn__display_add {
    display: inline-block;
    }

.card__title {
    margin-bottom: 16px;
}

.like__heart_none {
    fill: none;
}

.like__heart_color {
    fill: $color-add;
}